:root{
  --bg-color: #FFF7ED;
  --text-color: #161616;
  --btn-orange-color: #FF8C38;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ 
  font-family: "Inter", sans-serif;
} 
a{
  position: relative;
}
form input:focus{
  /* border-color: transparent !important; */
  box-shadow: none !important;
  border-color: #696363 !important;
}
.link-animation::after,
.link-held-animation::after{
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  height: 3px;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #4D4D4D;
}
.link-animation::after{
  transform: scale(0);
  transform-origin: center;
  transition: .2s;
}
.link-animation:hover::after{
  transform: scale(1);
}


.page{
  min-height: 100vh;
  position: relative;
  padding-bottom: 55px;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
  padding: 0;
}

.home{
  height: 100vh;  
  display: flex;
  flex-direction: column;

}

.navigation{
  height: 80px;
  flex-grow: 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;

}
.navigation__logo{
  color: #000;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 40.271px; /* 158.842% */
  margin-right: auto;
  text-decoration: none;
}
.navigation__link{
  text-decoration: none;
  color: #4D4D4D;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.923px; /* 143.267% */
  /* margin: 0 1.5rem; */
} 


.home__content{
  flex-grow: 1;
  background: url('../public/img/home_bg.png'), rgba(0,0,0,.5);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.home__content h1{
  color: #FFF;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 42px; /* 116.667% */
}
.home__content p{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.home__content-link{
  width: 100%;
  max-width: 300px;
  padding: .5rem 1rem;
  background-color: #FF8C38;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
.home__footer{
  flex-grow: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: #AAA;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.923px; /* 163.733% */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.about{

}

.about__content {

}
.about__content-img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 300px;
}
.about__content-body{
  padding: 1.5rem 1.2rem;


}
.about__content-body-panel{
  background-color: #FFCC8D;
  border-radius: 3px;
}

.vans{
  
}
.vans__header{

}
.vans__filter{

}
.vans__filter-btn{
  border-radius: 5px;
  background: #FFEAD0;
  border: none;
  padding: .5rem 1rem;
  margin-right: 1rem;
} 
.vans__filter-clear{
  background: transparent;
  border: none;
  text-decoration: underline;
  color: #4D4D4D;

}
.vans__list{

}
.vans__item{
  transition: transform linear .1s;
}
.vans__item:hover{
  transform: translateY(-1px);
}
.vans__list-item-img{
  border-radius: 3px;
  height: 0;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
}
.vans__item-body{

}
.vans__item-body-info{
  min-height: 55px;
}

.vans__item-body-type{ 
  color: #FFEAD0;
  /* background-color: ; */
}

.btn-simple{
  background-color: #E17654;
}
.btn-rugged{
  background-color: #115E59;
}
.btn-luxury{
  background-color: #161616;
}
.btn-hover:hover{
  border: 1px solid #000000;
}

.detail__img{
  height: 0;
  padding-top: 100%;
  border-radius: 3px;
  margin: auto 0;
  background-size: cover;
  background-position: center;
}
.detail__body-btn{
  background-color: #FF8C38;
}

.host-nav{
  
}
.host-nav a, .host-vans-nav a{
  text-decoration: none;
  color: #4D4D4D;
  margin-right: 1.5rem;
}

.host-nav-chosen{
  font-weight: 700;
  text-decoration: underline !important;
}

.dashboard{
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}


.dashboard__income, .dashboard__score,
.dashboard__reviews, .dashboard__listvan{
  padding: 1rem;
}
.dashboard__income{
  background-color: #FFEAD0;
}
.dashboard__score{
  background-color: #FFDDB2;
}
.dashboard__listvan{
  background-color: #FFF7ED;

}
.dashboard__listvan-imgcontainer{
  flex-basis: 80px;
}
.dashboard__listvan-img{
  height: 0;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.login__container{
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: var(--bg-color);
}
.login__container a{
  color: var(--btn-orange-color);
}